/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* common css  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 80%;
    padding: 50px 0px;
}

/* header start  */

.header {
    padding: 50px 150px;
    background: rgba(255, 144, 14, 0.1);
}

/* nav start  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {

    font-size: 30px;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li,
a {
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    color: #424242;
}

/* nav end  */
/* main start  */
main,
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* banner */
.banner {
    text-align: center;
}

.banner-title {
    font-weight: 800;
    font-size: 60px;
    margin: 40px 0px;
    color: #131313;
}

.banner-description {
    font-weight: 400;
    margin: 0px;
    font-size: 16px;
    color: #727272;
}

.banner-button {
    font-weight: 600;
    font-size: 18px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    padding: 15px 25px;
    margin: 30px 0px;
}

.banner-image img {
    width: 100%;
}

/* banner end  */

/* features start  */

.our-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px 50px;
    gap: 50px;
}

.our-features-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features-team img {
    width: 100%;
}

.our-features-title {
    font-size: 40px;
}

.our-features-title-one {
    color: #727272;
}

.our-features-title-two {
    color: #131313;

}

.our-features-title-three {
    color: #FF900E;
}

.our-features-description {
    color: #727272;
    padding: 10px 0px;
}

.our-features-button {
    font-weight: 600;
    font-size: 18px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    padding: 12px 20px;
    margin: 10px 0px;

}

/* features love start  */
.features-love {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
}

.features-love-titel {
    border-left: 3px solid #FF900E;
    padding-left: 15px;
    font-size: 35px;
}

.features-love-description {
    color: #727272;
    font-size: 13px;
    padding-top: 15px;
}

.features-love-tow {
    padding-top: 50px;
    padding-left: 30px;
}

.features-love-sub-titel {
    color: #131313;
    font-weight: 600;
    font-size: 14px;
}


.features-love-image img {
    width: 100%;
}

.features-love-button {
    background: #FF900E;
    color: #FFFFFF;
    padding: 25px 28px;
    border-radius: 8px;
    border: 0;
    position: absolute;
    margin-top: -80px;
    margin-left: -60px;

}

.features-love-button-title {
    font-size: 35px;
    font-weight: 800;
}

.features-love-button-sub-title {
    font-size: 18px;
    font-weight: 700;
}

/* some facts  */

.some-facts-title {
    font-size: 35px;
}

.some-facts-description {
    color: #727272;
    font-size: 13px;
    padding-top: 20px;
}

.some-facts-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 70px 50px;
    align-items: center;
    gap: 60px;

}


.facts-card {
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border-radius: 8px;
    justify-content: center;
   transition: transform 1s ease-in-out 0.2s;

}

.facts-card:hover {
    transform: translate(0px, 50px);
}



.facts-image-title {
    color: #424242;
    margin: 5px 0px;
    font-size: 36px;
}

.facts-image-sub-title {
    color: #727272;
    font-size: 14px;
}

/* our-sponsors start  */

.our-sponsors {
    text-align: center;


}

.our-sponsors-title {
    font-size: 36px;
    color: #131313;
}

.our-sponsors-description {
    color: #727272;
    font-size: 13px;
    padding-top: 20px;
}

.our-sponsors-team {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.our-sponsors-team img {
    filter: grayscale(100%);
}

/* our-sponsors end  */
.footer-text {
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-text-sub-title {
    padding: 30px 0px;
    color: #424242;
    font-size: 14px;
}




@media screen and (max-width:576px) {

    /* common */
    .container {
        width: 100%;
    }

    /* header start  */
    .header {
        padding: 20px 10px;

    }

    nav {
        flex-direction: column;
        gap: 30px;
    }

    /* features start  */
    .our-features {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 20px;
        grid-column: column-reverse;
    }

    .our-features-team {
        grid-template-columns: repeat(1, 1fr);
    }

    /* features love start  */
    .features-love {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 10px;
    }

    .features-love-button {
        margin-left: 70px;
    }

    /* some facts  */
    .some-facts {
        padding: 20px 10px;
    }

    .some-facts-card {
        grid-template-columns: repeat(1, 1fr);
    }

    /* our-sponsors  */
    .sponsors {
        padding: 20px 10px;
    }

    .our-sponsors-team {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    /* footer  */
    .footer-text {
        margin: 20px 10px;
    }
}